<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Veterinaria</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container">
    <h1>Bienvenido a la Veterinaria</h1>
    <p>Cuida de tus mascotas con nosotros</p>

    <div class="buttons">
        <a th:href="@{/login}" class="btn btn-primary">Ingresar</a>
        <a th:href="@{/usuarios/crear}" class="btn btn-secondary">Registrar cliente</a>}
        <a th:href="@{/veterinarios/crear}" class="btn btn-secondary">Registrar veterinario</a>
    </div>
</div>
</body>
</html>
