<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="barralateralV" class="container-menu">
    <div class="cont-menu">
    <label for="btn-menu">✖️</label>
    <nav>
        <ul class="nav flex-column mt-3">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/diagnostico/listar}">Diagnósticos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/citas/listar}">Citas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/gestion/dietas/duenos}">
                    <i class="fas fa-utensils mr-2"></i>Dietas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/gestion/actividades/duenos}">
                    <i class="fas fa-running mr-2"></i>Actividad Física
                </a>
            </li>
            <li class="nav-item mt-auto">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-danger w-100">Cerrar sesión</button>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/comunicaciones}">
                            <i class="fas fa-envelope-open-text mr-2"></i>Correos Masivos
                        </a>
                    </li>
                </form>
            </li>
        </ul>
    </nav>
</div>
</div>
</body>
</html>